/*
General
*/

body {
  font: 12px sans-serif;
}

/*
Tooltips
*/

.d3-tip div p{
	margin: 0 0 0 0;
}

.d3-tip div p span {
	float: right;
	padding-left: 10px;
}

.d3-tip div {
	background-color: #f8fff2;
	border: 2px solid #BCBAAE;
	padding: 5px 5px 5px 5px;
	position: relative;
}

.d3-tip div:after, .d3-tip div:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.d3-tip div:after {
	border-color: rgba(248, 255, 242, 0);
	border-top-color: #f8fff2;
	border-width: 15px;
	margin-left: -15px;
}

.d3-tip div:before {
	border-color: rgba(188, 186, 174, 0);
	border-top-color: #BCBAAE;
	border-width: 18px;
	margin-left: -18px;
}

/*
Transcript information
*/

.chart{
	margin-bottom: 3em;
}

.container{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	max-width: 10em;
}

.trans-header{
	border-bottom: 1px solid #F0F0F0;
	margin: 1em;
}

.trans-info p:first-child{
	margin-top: 1em;
}

.trans-info p{
	margin: 0;
	margin-left: 1em;
	text-transform: capitalize;
}

.trans-info p:last-child{
	margin-bottom: 1em;
}
